{% extends '::base.html.twig' %}

{%  block body %}
    <div id="main-container">

        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h2>{{descripcion_estado}}</h2>
                    <br>
                    <p><a class="btn btn-success" href="{{ path('lcs_app.default.consultaot') }}" role="button">Hacer otra consulta</a></p>
                </div>
            </div>
        </div>

    </div>

{%  endblock body %}

{% block javascripts %}

    {% javascripts
    '@LCSAppBundle/Resources/public/js/default/consulta-ot.js'%}

    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

{% endblock %}


