<div>Se ha enviado el siguiente pedido de presupuesto.</div>
<div>Responda este mail para contestar el pedido.</div>
<br>
<br>
<div>Enviado por: <em>{{ email }}</em></div>
<div>Mensaje:</div>
<hr>
<em>{{ mensaje }}</em>
<hr>